In [ ]:
import pandas as pd

df = pd.read_csv('okcupid_profiles.csv')

df

In [ ]:
# list of all columns
for index, row in df.iterrows():
    print(index,row['income'])

In [ ]:
employed_males_df = df[(df['sex'] == 'm') & (df['income'] > -1)]
employed_males_df

In [ ]:
list(employed_males_df.columns)

In [ ]:
len(employed_males_df.columns)

In [ ]:
employed_males_df['income']

In [ ]:
# pulling avg age of males
employed_males_df['age'].mean()

In [ ]:
employed_males_df['income']

In [ ]:
employed_males_df

In [ ]:
employed_males_df.to_excel('employed_males_df.xlsx')
employed_males_df.to_csv('employed_males_df.csv', index=False)

In [ ]:
# adding age combined, age average, income combined, income age columns
employed_males_df['age combined'] = employed_males_df['age'].sum()

In [ ]:
employed_males_df

In [ ]:
employed_males_df['age combined'][1:59943] = ''

In [ ]:
employed_males_df

In [ ]:
employed_males_df['age average'] = employed_males_df['age'].mean()

In [ ]:
employed_males_df

In [ ]:
employed_males_df['age average'][1:59943] = ''
employed_males_df

In [ ]:
employed_males_df['income combined'] = employed_males_df['income'].sum()
employed_males_df['income combined'][1:59943] = ''
employed_males_df

In [ ]:
employed_males_df['income average'] = employed_males_df['income'].mean()
employed_males_df['income average'][1:59943] = ''
employed_males_df

In [ ]:
employed_males_df.to_excel('employed_males_df.xlsx')
employed_males_df.to_csv('employed_males_df.csv', index=False)

In [ ]:
# creating pivot tables (cannot create a pivot due to duplicate values hence creating pivot tables only)
orientation_income_pivot_table_df = employed_males_df.pivot_table(index='age', columns='orientation', values='income', aggfunc='sum')

In [ ]:
# income combined per age and orientation
orientation_income_pivot_table_df

In [ ]:
orientation_income_pivot_table_df.to_excel('orientation_income_pivot_table_df.xlsx')
orientation_income_pivot_table_df.to_csv('orientation_income_pivot_table_df.csv', index=False)

In [ ]:
# creating pivot tables (cannot create a pivot due to duplicate values hence creating pivot tables only)
orientation_average_income_pivot_table_df = employed_males_df.pivot_table(index='age', columns='orientation', values='income', aggfunc='mean')

In [ ]:
orientation_average_income_pivot_table_df

In [ ]:
orientation_average_income_pivot_table_df.to_excel('orientation_average_income_pivot_table_df.xlsx')
orientation_average_income_pivot_table_df.to_csv('orientation_average_income_pivot_table_df.csv', index=False)

In [ ]:
orientation_income_pivot_table_df

In [ ]:
# merging combined income table with average income table pertaining to orientation
orientation_income_tables_merged_df = orientation_income_pivot_table_df.merge(orientation_average_income_pivot_table_df, left_index=True, right_index=True)

In [ ]:
orientation_income_tables_merged_df

In [ ]:
orientation_income_tables_merged_df.to_excel('orientation_income_tables_merged_df.xlsx')
orientation_income_tables_merged_df.to_csv('orientation_income_tables_merged_df.csv')

In [ ]:
df

In [ ]:
# next task, to create a df of people of color 'poc' who are single and educated
single_educated_poc_df = df[~(df['ethnicity'].str.contains('white') | df['ethnicity'].isna()) & (df['status'] == 'single') & (df['education'].str.contains('(?i)graduated'))]

In [ ]:
single_educated_poc_df

In [ ]:
single_educated_poc_df.to_excel('single_educated_poc_df.xlsx')
single_educated_poc_df.to_csv('single_educated_poc_df.csv', index=False)

In [ ]:
single_educated_poc_df

In [ ]:
# grouped data based on age, and drug 
single_educated_poc_age_drugs_df = single_educated_poc_df.groupby(['age', 'drugs', ])

In [ ]:
single_educated_poc_grouped_data = single_educated_poc_age_drugs_df.first()

In [ ]:
single_educated_poc_grouped_data

In [ ]:
single_educated_poc_grouped_data.to_excel('single_educated_poc_grouped_data.xlsx')
single_educated_poc_grouped_data.to_csv('single_educated_poc_grouped_data.csv', index=False)